<div>
<%= render "shared/header" %>
</div>
<div id="container">
	<div id="sidebar">
	<%= render "shared/sidebar_video"%>
	</div>
	<div class = "main_content">
		<h2 style="color:white">TEST VIDEO</h2>
	</div>	<!-- end main_content -->
	<div id="right_sidebar">
	<%= render "shared/right_sidebar"%>
	</div> <!-- end right_sidebar -->
</div> 	 <!-- end container -->