<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.icon').hover(function(){
				$('.icon').toggleClass('active')
			})
		})
		$(document).ready(function(){
			$('.icon3').hover(function(){
				$('.icon3').toggleClass('active')
			})
		})
		$(document).ready(function(){
			$('.icon4').hover(function(){
				$('.icon4').toggleClass('active')
			})
		})
	</script>
</head>
<body>
	<a href = "home">
		<div class = "icon">
			<div class = "home_icon"></div>
			<div class = "home_icon2"></div>
			<div class = "home_text">
				Home
			</div>
		</div>
	</a>
	<a href="portfolio">
		<div class = "clicked2">
		</div>
	</a>
	<a href="video">
		<div class = "icon3">
			<div class = "vid_icon"></div>
			<div class = "vid_icon2"></div>
			<div class = "vid_icon3"></div>
			<div class = "vid_icon4"></div>
			<div class = "video_text">
				Video
			</div>
		</div>
	</a>
	<a href="wall">
		<div class = "icon4">
			<div class = "wall_icon"></div>
			<div class = "wall_icon2"></div>
			<div class = "wall_icon3"></div>
			<div class = "wall_icon4"></div>
			<div class = "wall_icon5"></div>
			<div class = "wall_text">
				Wall
			</div>
		</div>
	</a>
</body>
</html>