body{
	font-family: "Arial";
	font-size: 12px;
	margin: 0px;
}
#container{
/*	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 70%;*/
	display: grid;
	grid-template-columns: 105px auto 350px;
}
.main_content{
	background-color: #252526;
	display: grid;
	grid-template-columns: auto 33% auto;
}
#body_image{
	background-image: url("beachgif.gif");
}
h2{
	margin-top: 0px;
	margin-bottom: 2px;
	padding-top: 10px;
}
p{
	margin: 5px;
	margin-left: 0px;
}
.comments{
/*	text-align: center;*/
	vertical-align: top;
	background-color: white;
/*	background-color: #ebebe0;*/
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 40px;
/*	margin: 0 auto;
	display: inline-block;
*/
}
.carousel{
	height: 300px;
	width: 600px;
}
#top{
	background: linear-gradient(#668cff,#1a53ff);
	display: inline-block;
	width: 100%;
}
#header{
/*	background: linear-gradient(#668cff,#1a53ff);
*/	display: inline-block;
	width: 100%;
	height: 70px;
	border-bottom: 8px solid #6b6b47;
}
h3{
	margin: 0px;
}
#header h3{
	color: white;
}
#login{
	display: inline-block;
	margin-top: 20px;
	margin-right: 20px;
	float: right;
	vertical-align: top;
}
#logged_in{
	display: inline-block;
	margin-top: 5px;
	margin-right: 20px;
	vertical-align: top;
	height: 50px;
	font-weight: 600;
}
#logged_in td{
	padding: 0px;
}
#login_button{
	display: inline-block;
}
#login label{
	color: white;
}
.title{
	margin-top: 5px;
	vertical-align: top;
}
.title_small{
	margin-top: 10px;
	margin-left: 10px;
	height: 50px;
	width: 80px;
}
.logo{
	margin-left: 10px;
	color: white;
	height: 100px;
	width: 100px;
}
div.registration{
	margin-top: 20px;
	text-align: center;
	vertical-align: top;
}

h4{
	display: inline-block;
}
.links{
	display: inline-block;
	float: right;
	margin-right: 10px;
}
#links_dark{
	text-decoration: none;
	color: black;
	display: inline-block;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: none;
}
.links_white{
	text-decoration: none;
	color: white;
	display: inline-block;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 16px;
}
.side_links{
	display: inline-block;
	float: right;
	color: #6090f2;
	text-decoration: none;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 16px;
}
.user_link{
	text-decoration: none;
	color: #6090f2;
	font-size: 16px;
	font-weight: 600;
}
form #button_link{
	background-color: white;
}
th{
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}
td{
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

.content_block{
	width: 250px;
}

.content{
	background-color: white;
	border: 1px solid #969ba3;
	border-radius: 20px;
	font-size: 16px;
	padding: 10px;
	width: 400px;
}
a{
	font-size: 12px;
}

button{
	height: 27px;
	background:none;
  	border: 1px solid #969ba3;
  	font-size:1em;
  	color: white;
  	background: linear-gradient(#6090f2,#537bce);
}
#register_button{
	margin-top: 5px;
	height: 35px;
	width: 183px;
	background:none;
  	border: 1px solid #969ba3;
  	font-size:20px;
  	color: white;
  	background: linear-gradient(#65aa53,#578943);
}
#enter_button{
	margin-top: 5px;
	height: 35px;
	width: 183px;
	background:none;
  	border: 1px solid #969ba3;
  	font-size:20px;
  	color: white;
  	background: linear-gradient(#6090f2,#537bce);
}
.register_input{
	margin: 2px;
	padding: 5px;
}
.small_icon{
	height: 20px;
	width: 20px;
}
.table_data{
	margin: 10px;
	font-size: 16px;
}

#inline-block_test{
	background-color: blue;
	width: 100px;
	height: 100%;
	display: inline-block;
}

/*====================================
---------------SIDEBAR----------------
====================================*/

#sidebar{
/*	width: 100px;
	height: 11000px;
	display: inline-block;*/
	border-right: 8px solid #6b6b47;
	background-color: black;
	display: grid;
	grid-template-rows: 110px 110px auto;
}
/*====================================
---------------RIGHT SIDEBAR----------
====================================*/

#right_sidebar{
/*	width: 10%;
	height: 11000px;
	display: inline-block;*/
	background: #5e5e5e;
}
/*====================================
-------------HOME ICON----------------
====================================*/
.icon{
	width: 80px;
	height: 40px;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 40px;
	cursor: pointer;
}
.home_icon{
	width: 6px;
	height: 50px;
	margin: 0px 25px 0px 25px;
	background: rgba(0,0,0,0);
	transition: .5s;
}
.home_icon:before,
.home_icon:after{
	content: '';
	position: absolute;
	width: 6px;
	height: 50px;
	background: #f4cb42;
	transition: .5s;
}
.home_icon:before{
	margin-left: -16px;

}
.home_icon:after{
	margin-left: 16px;
}
.icon.active .home_icon:before{
	transform: rotate(45deg);
	margin-top: -20px;
	background-color: #f442f1;

}
.icon.active .home_icon:after{
	transform: rotate(135deg);
	margin-top: -20px;
	background-color: #f442f1;

}
.home_icon2{
	width: 38px;
	height: 6px;
	margin: -28px 25px 0px 9px;
	background: #f4cb42;
	transition: .5s;
}
.home_icon2:before,
.home_icon2:after{
	content: '';
	position: absolute;
	width: 38px;
	height: 6px;
	background: #f4cb42;
	transition: .5s;
}
.icon.active .home_icon2{
	margin-top: -5px;
	margin-left: 5px;
	width: 50px;
	background-color: #f442f1;
}
.icon.active .home_icon2:before{
	transform: rotate(90deg);
	margin-top: -16px;
	margin-left: 28px;
	background-color: #f442f1;
}
.icon.active .home_icon2:after{
	transform: rotate(90deg);
	margin-top: -16px;
	margin-left: -20px;
	background-color: #f442f1;

}
.home_text{
	background: rgba(0,0,0,0);
}

.icon.active .home_text{
	color: #f442f1;
	font-weight: 700px;
	margin-left: 12px;
}

/*====================================
-------------BIO ICON----------------
====================================*/

.icon2{
	width: 80px;
	height: 40px;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 40px;
	cursor: pointer;
}
.bio_icon{
	border-top: 6px solid;
	border-right: 6px solid;
	border-bottom: 6px solid;
	border-color: #41f459;
	border-top-right-radius: 28px;
	border-bottom-right-radius: 25px;
	width: 25px;
	height: 20px;
	margin: -13px 12px;
	transition: .5s;
	position: absolute;
	content: '';
}

.bio_icon2{
	margin-top: -5px;
	border-top: 6px solid;
	border-right: 6px solid;
	border-bottom: 6px solid;
	border-color: #41f459;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 40px;
	width: 25px;
	height: 20px;
	margin: 13px 15px;
	transition: .5s;
	content: '';
	position: absolute;
}
.bio_icon3{
	width: 6px;
	height: 38px;
	background-color: #41f459;
	transition: .5s;
	margin: -13px 9px 0px;
	content: '';
	position: absolute;
}
.bio_icon4{
	width: 6px;
	height: 38px;
	background-color: #41f459;
	transition: .5s;
	margin: 7px 9px;
	content: '';
	position: absolute;
}
.bio_icon5{
	width: 6px;
	height: 38px;
	background-color: #41f459;
	transition: .5s;
	margin: -7px 9px;
	content: '';
	position: absolute;
}
.bio_icon6{
	width: 6px;
	height: 38px;
	background-color: #41f459;
	transition: .5s;
	margin: 7px 9px;
	content: '';
	position: absolute;
}
.bio_icon7{
	width: 6px;
	height: 38px;
	background-color: #41f459;
	transition: .5s;
	margin: 7px 9px;
	content: '';
	position: absolute;
}
.icon2.active .bio_icon{
	width: 10px;
	margin-left: 27px;
	border-color: #f442f1;
}
.icon2.active .bio_icon2{
	transform: rotate(180deg);
	margin-left: 12px;
	margin-top: -13px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	width: 10px;
	height: 20px;
	border-color: #f442f1;
}
.icon2.active .bio_icon3{
	transform: rotate(141deg);
	margin-left: 35px;
	margin-top: 13px;
	height: 20px;
	background-color: #f442f1;
}
.icon2.active .bio_icon4{
	transform: rotate(35deg);
	margin-left: 15px;
	margin-top: 13px;
	height: 20px;
	background-color: #f442f1;
}
.icon2.active .bio_icon5{
	transform: rotate(90deg);
	margin-left: 26px;
	margin-top: 35px;
	height: 37px;
	background-color: #f442f1;
}
.icon2.active .bio_icon6{
	margin-left: 41px;
	margin-top: 29px;
	height: 26px;
	background-color: #f442f1;
}
.icon2.active .bio_icon7{
	margin-left: 10px;
	margin-top: 29px;
	height: 26px;
	background-color: #f442f1;
}
.bio_text{
	background: rgba(0,0,0,0);
	margin-top: 70px 
	margin-left: -40px;
	padding-top: 50px;
	padding-left: 19px;
	transition: .5s;
}

.icon2.active .bio_text{
	color: #f442f1;
	font-weight: 700px;
	margin-left: 0px;
	margin-top: 45px;
	padding-top: 13px;
	color: #f442f1;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
